<ul class="nav flex-column mt-4">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home m-2" aria-hidden="true"></span> <span class="@hideText">Home</span>
        </NavLink>
    </li>
</ul>
<div>
    <ul class="nav flex-column">
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="songs">
                <span class="oi oi-musical-note m-2" aria-hidden="true"></span> <span class="@hideText">Favourite Songs</span>
            </NavLink>
        </li>           
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-globe m-2" aria-hidden="true"></span> <span class="@hideText">Language</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info m-2" aria-hidden="true"></span> <span class="@hideText">About</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="Exit" href="">
                <span class="oi oi-power-standby e-danger m-2" aria-hidden="true"></span> <span class="@hideText">Exit</span>
            </NavLink>
        </li>
    </ul>
</div>
<style>
    .nav-item{
        font-size:medium;
        margin-bottom:0.2em;
        font-family:inherit;
        font-weight:500;       
        border-radius:8px;
    }
</style>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    async void Exit()
    {
        var accept = await Application.Current.MainPage.DisplayAlert("Exit","Close the application?",accept:"Yes",cancel:"No");
        if(!accept)
        {
            return;
        }
        System.Diagnostics.Process.GetCurrentProcess().Kill();
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    public async Task MouseIn(MouseEventArgs args)
    {
        
        
    }
       string hideText = "";
    public async Task MouseOut(MouseEventArgs args)
    {
       
        
    }
}

